*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Duepuntozero;
}
@font-face {
    font-family: Duepuntozero;
    src: url(./font/UTM\ Duepuntozero.ttf);
}
#main{
    padding: 0 100px;
}
#main #header .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9a1a1;
}

#main #header .menu ul{
    display: flex;
    justify-content: space-between;
}

#main #header .menu ul li{
    list-style: none;
}

#main #header .menu ul li a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 15px;
    padding: 10px 10px;
    display: block;
    border-left: 1px solid #fff;
}

#main #header .menu ul li:nth-child(1) a{
    color: red;
}

#main #header .search input{
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}

#main #header .search button{
    background-color: #ccccc0;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    border-radius: 5px;
}

#main #header .logo{
    display: flex;
    justify-content: center;
}

#main #header .banner img{
    width: 100%;
    height: 400px;
}

#main #content h1{
    padding: 10px;
    font-weight: 200;
}

#main #content .products{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0 100px 0;
}
#main #content .products .item{
    width: 24%;
    border: 1px solid;
}

#main #content .products .item img{
    width: 100%;
}

#main #content .products .item h2{
    text-align: center;
    font-size: 15px;
}

#main #content .products .item p{
    color: #970505;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    font-weight: bold;
}

#main #content .products .item p del{
    color: #000;
    font-size: 12px;
}

#main #footer{
    background-color: #e9a1a1;
}

#main #footer h1{
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
    font-weight: normal;
}









